<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb1886722794943731</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>twitterkit-fz2N0I308i271ZYUSw4tow9zA</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Capture_API</key>
	<dict>
		<key>API_URL</key>
		<string>http://ec2-52-41-143-0.us-west-2.compute.amazonaws.com/</string>
		<key>Authorization</key>
		<dict>
			<key>ClientId</key>
			<string>Z0wzh7NMyzXQykRBtJI3gVdooHZ79Cwtlvfe282Z</string>
			<key>ClientSecret</key>
			<string>1Nqkf99ZXUTnwJ3OlKdlLACBfHPPVgZ10pwoR3tWOj2T4e4mDOExFd3qf2kbyl5vtj7EIzPAW9ZEEf10fJja6sPZO9STQM4jQxBsoPTWU29NdsjVd5TR1CSeabPoh6mT</string>
		</dict>
		<key>is-dev</key>
		<false/>
	</dict>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>1037ec7db3e99b3b6a4d5aae160dba9cc46bdc17</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict>
					<key>consumerKey</key>
					<string>DOPbtKRZyRfsNLLotZiazwtsp</string>
					<key>consumerSecret</key>
					<string>MfxeR7G70Krck0822rizvDpD7wWUxDFzuekLlvhhu8MWGQh9F3</string>
				</dict>
				<key>KitName</key>
				<string>Twitter</string>
			</dict>
		</array>
	</dict>
	<key>FacebookAppID</key>
	<string>1886722794943731</string>
	<key>FacebookDisplayName</key>
	<string>Capture</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
		<string>fb-messenger-api</string>
		<string>twitter</string>
		<string>whatsapp</string>
		<string>wechat</string>
		<string>line</string>
		<string>instagram</string>
		<string>kakaotalk</string>
		<string>mqq</string>
		<string>vk</string>
		<string>comgooglemaps</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>akamaihd.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>facebook.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
			<key>fbcdn.net</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<false/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Capture needs to acces camera</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Capture requires access to your phone’s location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Capture requires access to your phone’s location</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Capture needs to acces mic</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Capture needs acces to your images to edit them</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
